*{
    font-family: "roboto";
}
html,
body{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282828;
}
h1{
    color: #ffffff;
    font-size: 144px;
    font-weight: 300;
    border: 3px;
    border-color: #ffffff;
}
