*{
    font-family: "roboto";
}
html,
body{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282828;
}
h1{
    font-size: 144px;
    font-weight: 300;
    border: 3px solid;
    border-color: purple;
    background: linear-gradient(90deg, red,blue);
    -webkit-background-clip:  text;
    color: transparent;

}

h2{
    font-size: 120px;
    text-transform: capitalize;
}


@keyframes borda {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}